<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/privacy_policy_styles.css">
    <title>Privacy Policy</title>
</head>
<body>
    <main class="main">
        <div class="main-title">
            Политика Конфиденциальности
        </div>

        <div class="main-other">
            <h1 class="information-title"><strong>Информация</strong></h1>

            <ul class="main-ul">
                <li>
                    Информация запрашивается только тогда, когда она нужна для выполнения команды.
                </li>
                <li>
                    Мы не используем ваши данные кроме как для выполнения команд, мы не передаем ваши данные 3-им лицам.
                </li>
                <li>
                    Вы можете запросить удаление ваших данных из базыданных бота
                </li>
                <hr>
            </ul>

            <h1 class="information-title"><strong>Данные используемые ботом</strong></h1>

            <ul class="main-ul">
                <li>
                    Идентификатор пользователя.
                </li>
                <li>
                    Идентификатор сервера.
                </li>
                <li>
                    Идентификаторы каналов.
                </li>
                <hr>
            </ul>
        </div>
    </main>
</body>
</html>